<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/fe.css">
  <title>COVID-19 management system</title>
</head>
<body>
<div class='signup-container'>
  <div class='left-container'>
    <h1>
      <i class='fas fa-paw'></i>
      COVID-19 DATABASE
    </h1>
    <div class='puppy'>
      <img src='/covid2.jpg'>
    </div>
  </div>
  <div class='right-container'>
    <form action="/postHistory" method="POST">
    <header>
      <h1>Signup Form</h1>
      <hr width="200">
      <h1>COVID-19</h1>
      <hr width="200">
      <div class='set'>
        <div class='patients-name'>
          <label for='patients-name'>Disease Name</label>
          <input id='patients-name' name="name" placeholder="Disease Name" type='text'>
        </div>
        <div class='patients-email'>
          <label for='patients-email'></label>
          <input id='patients-email' type="hidden" name="id" value=<%= id %> >
        </div>
      </div>
      <div class='set'>
        <div class='patients-address'>

          <label for='patients-address'>Current status</label>
          <input id='patients-address' name="status" placeholder="What is the current status?" type='text'>
        </div>
        
      </div>
      
    </header>
    <footer>
      <div class='set'>
        
        <button id='next' type="submit">Submit</button>
      </div>
    </footer>
  </form>
  </div>
</div>
</body>
</html>



