<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome To Covid-19 Database</h1>
    <h1> Total Count : <%= count %></h1>
    <ul>
        <li><a href="/addPerson">Add Family </a></li>
        <li><a href="/addUser">User to Existing Family </a></li>
        <li><a href="/viewPerson">View Person </a></li>
    </ul>

</body>

</html>