<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/postMedical" method="POST">
        <input type="hidden" name="id" value=<%= id %> >
        <input type="text" name="status" placeholder="Positive/Negative">
        <input type="text" name="isQuarantined" placeholder="Is Quarantined (true/false)">
        <button type="submit">Submit</button>
    </form>
</body>
</html>