<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/fe.css">
  <title>User form</title>
</head>
<body>
<div class='signup-container'>
  <div class='left-container'>
    <h1>
      <i class='fas fa-paw'></i>
      COVID-19 DATABASE
    </h1>
    <div class='puppy'>
      <img src='/covid2.jpg'>
    </div>
  </div>
  <div class='right-container'>
    <header>
      <h1>Signup Form</h1>
      <hr width="200">
      <h1>COVID-19</h1>
      <hr width="200">
      <form action="/postPerson" method="POST">
        <% if(familyId!==""){ %>
        <input type="hidden" name="familyId" value=<%= familyId %>>
        <% } else { %>
            <input type="text" name="familyId" placeholder="Enter your Family Id">
            <% } %>
      <div class='set'>
        <div class='patients-name'>
          <label for='patients-name'>Name</label>
          <input id='patients-name' name="name" placeholder="Patient's Name" type='text'>
        </div>
        <div class='patients-email'>
          <label for='patients-email'>Email</label>
          <input id='patients-email' name="email" placeholder="Email id" type='Email'>
        </div>
      </div>
      <div class='set'>
        <div class='patients-address'>

          <label for='patients-address'>Age</label>
          <input id='patients-address' placeholder="Patient's address" name="age" type='text'>
        </div>
        <div class='patients-birthday'>
          <label for='patients-birthday'>Birthday</label>
          <input id='patients-birthday' name="dob" placeholder='MM/DD/YYYY' type='date'>
        </div>
      </div>
      <div class='set'>
        <div class='patients-gender'>
          <label for='patient-gender-female'>Gender</label>
          <div class='radio-container'>
            <input checked='' id='patient-gender-female' type='radio' value="F" name="sex">
            <label for='patient-gender-female'>Female</label>
            <input id='patient-gender-male' type='radio' name="sex" value='M'>
            <label for='patient-gender-male'>Male</label>
          </div>
        </div>
        <div class='phone-number'>
          <label for='Phone-number'>Phone Number</label><br>
          <input id='Phone-number' name="phone" placeholder="Phone-number" type='text'>
        </div>
      </div>
    </header>
    <footer>
      <div class='set'>
        <button id='next' type="submit">Submit</button>
      </div>
    </footer>
  </form>
  </div>
</div>
</body>
</html>



